<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952835931113-fkn4cbam86fcb4mojfv5e3ddn321e96i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952835931113-fkn4cbam86fcb4mojfv5e3ddn321e96i</string>
	<key>API_KEY</key>
	<string>AIzaSyBROoG11kMEXq6M7-C3LUu3s45yV1jpvFM</string>
	<key>GCM_SENDER_ID</key>
	<string>952835931113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GBC.HoH</string>
	<key>PROJECT_ID</key>
	<string>ios-w2020</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-w2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952835931113:ios:74aa01425dd76e9a476978</string>
	<key>DATABASE_URL</key>
	<string>https://ios-w2020.firebaseio.com</string>
</dict>
</plist>